@import "fonts.scss";

.card {
  margin: 0px 249px 0px 11px;
  position: relative;
  display: none;
}

.gif {
  position: absolute;
  z-index: 1;
  display: inline-block;
  cursor: pointer;
  
  &:hover {
    & ~ .hover {
      visibility: visible;
      z-index: 4;
    }
  }
}

.hover {
  visibility: hidden;
  position: absolute;
  background: #572EE5;
  opacity: 0.6;
  z-index: 2;
  cursor: pointer;

  &:hover {
    visibility: visible;
  }
  
  &__user {
    top: 110px;
    left: 18px;
    width: max-content;
    position: absolute;
    @extend .roboto-regular;
    font-size: 15px;
    color: #FFFFFF;
    text-align: center;
    text-transform: capitalize;
  }

  &__title {
    top: 138px;
    left: 18.5px;
    position: absolute;
    @extend .roboto-bold;
    font-size: 15px;
    color: #FFFFFF;
    text-transform: capitalize;
  }
}

.buttons {
  top: 7px;
  left: 150px;
  position: absolute;
  display: inline-block;
}

.button {
  padding: 0;
  height: 25px;
  width: 25px;
  border: 0;
  border-radius: 6px;
  outline: none;
  text-align: center;
  background: #FFFFFF;
  opacity: 0.7;
  cursor: pointer;

  &:hover {
    opacity: 100;
  }
}

.options {
  font-size: 12px;
  background: #FFFFFF;
  border-radius: 6px;

  &:hover {
    opacity: 100;
  }
}