@import "fonts.scss";

.margin-padding {
  margin: 0;
  padding: 0;
}

.buttons {
  position: absolute;
  display: inline-block;
}

.button {
  padding: 0;
  outline: none;
  text-align: center;
  border: 0;
  background: #FFFFFF;
  opacity: 0.7;
  cursor: pointer;

  &:hover {
    opacity: 100;
  }
}

.user {
  width: max-content;
  position: absolute;
  color: #FFFFFF;
  text-align: unset;
  text-transform: capitalize;
  @extend .roboto-regular;
  @extend .margin-padding;
}

.title {
  position: absolute;
  color: #FFFFFF;
  text-transform: capitalize;
  text-align: unset;
  text-overflow: ellipsis;
  line-height: unset;
  @extend .roboto-bold;
  @extend .margin-padding;
}

.card {
  position: relative;
  display: none;
}

.gif {
  height: inherit;
  width: inherit;
  position: absolute;
  z-index: 1;
  display: inline-block;
  cursor: pointer;
  
  &:hover {
    & ~ .hover {
      visibility: visible;
      z-index: 4;
    }
  }
}

.hover {
  height: inherit;
  width: inherit;
  visibility: hidden;
  position: absolute;
  background: #572EE5;
  opacity: 0.6;
  z-index: 2;
  cursor: pointer;

  &:hover {
    visibility: visible;
  }
}

.options {
  font-size: 12px;
  background: #FFFFFF;
  border-radius: 6px;

  &:hover {
    opacity: 100;
  }
}

.normal {
  &__card {
    height: 120px;
    width: 156px;
    margin: 9px auto;
  }

  &__user {
    bottom: 30px;
    left: 5px;
    font-size: 10px;
    @extend .user;
  }

  &__title {
    bottom: 3px;
    left: 5px;
    font-size: 10px;
    @extend .title;
  }

  &__buttons {
    top: 5px;
    left: 78px;
    @extend .buttons;
  }

  &__button {
    height: 22px;
    width: 22px;
    border-radius: 4px;
    @extend .button;
  }
}

.trending {
  &__buttons {
  top: 7px;
  left: 150px;
  @extend .buttons;
  }

  &__button {
    height: 25px;
    width: 25px;
    border-radius: 6px;
    @extend .button;
  }

  &__user {
    bottom: 40px;
    left: 18.5px;
    font-size: 15px;
    @extend .user;
  }

  &__title {
    bottom: 10px;
    left: 18.5px;
    font-size: 15px;
    @extend .title;
  }
}