.dark-mode {
  display: none;
}

.dark-mode:checked {
  & ~ main {
    background: #37383C;
     
    h1, h2, h3, p, li, i, span {
      color: #FFFFFF;
    }

    button, div, input {
      background: #37383C;
      color: white;
      border-color: white;
    }

    span.header__span {
      color: rgb(70, 224, 182);
    }

    input.search__box__input {
      color: #6B7989;
    }

    section.trending, div.trending__desktop-buttons, div.container, ul {
      background: #222326;
    }
    
    span.menu-span, .menu:after, .menu:before { 
      background: #FFFFFF;
    }

    div.search__box {
      border-color: white;
    }

    section.top-bar, section.footer {
      border-top: 5px solid #000000;
    }
  }
}
