.dark-mode {
  display: none;
}

.dark-mode:checked {
  & ~ main {
    background: #37383C;

    section.trending, div.trending__desktop-buttons, div.container, ul {
      background: #222326;
    }

    span.menu-span, .menu:after, .menu:before { 
      background: #FFFFFF;
    }
    
    ul.search__box__list, div, input {
      background: transparent;
    }
     
    button {
      border-color: white;
      color: white;
      
      &:hover {
        background: white;
        color: black;
      }
    }

    h1, h2, h3, p, li.navigation__li, i, span {
      color: #FFFFFF;
    }

    span.header__span {
      color: rgb(70, 224, 182);
    }

    input.search__box__input, li, i.icon-search-left {
      color: #6B7989;
    }

    section.top-bar, footer.footer {
      border-color: #000000;
    }
  }
}

@media (min-width: 1023px) {
  .dark-mode:checked {
    & ~ main {
      ul {
        background-color: transparent;
      }
    }
  }
}