@media (min-width: 767px) {

  .montserrat-bold-desktop {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: #572EE5;
    text-align: center;
    letter-spacing: 0;
  }

  .margin-padding {
    margin: 0;
    padding: 0;
  }
    
  .top-bar {
    padding: 0 75px;
    height: 95px;
    width: 100%;
    top: 0;
    position: sticky;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
  }
    
  .nav-bar {
    width: 50vw;
    display: inline-block;

    &__logo__light {
      height: 59.1px;
      width: 59.1px;
    }
  }

  .menu {
    display: none;
  }

  .navigation {
    height: 90px;
    width: 45vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    &__list {
      margin-top: 5px;
      padding-top: 0px;
      height: 80px;
      top: 0px;
      left: 0px;
      position: relative;
      z-index: 5;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      background-color: transparent;
    }  

    &__li {
      height: 90px;
      display: flex;

      & a {
        align-items: center;
        color: #572EE5;
      }
    }

    &__mas {
      display: flex;
      justify-content: center;
      text-decoration: none;
    }
    
    &__button {
      height: 54px;
      width: 54px;
      display: inline-block;
      border: 1px solid #572EE5;
      border-radius: 130px;
      font-size: 16px;
      color: #572EE5;
      background: #FFFFFF;

      &:hover {
        color: #FFFFFF;
        background: #572EE5;
      }

      &:active {
        border: #9CAFC3;
        color: #FFFFFF;
        background: #9CAFC3;
      }
    }
  }

  .header {

    &__title {
      height: 100px;
      width: 450px;
    }
  }

  .search {
    position: relative;

    &__picture {
      height: 190px;

      &__image {
        height: 190px;
        width: 399px;
      }
    }

    &__box {
      width: 551px;
      top: 19px;
      position: sticky;

     /*  &:hover {
        height: 50px;
        width: 334px;
        margin-left: 100px;
        justify-self: flex-start;
      } */

      &__main {
        justify-content: space-between;
      }

      &__input {
        margin-left: 62px;
        z-index: 3;
        background: transparent;
      }
    }
  }

  .section__trending__p {
    width: 402px;
  }
}