@media (min-width: 1023px) {

  .montserrat-bold-desktop {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: #572EE5;
    text-align: center;
    letter-spacing: 0;
  }

  .margin-padding {
    margin: 0;
    padding: 0;
  }
    
  .top-bar {
    padding: 0 75px;
    height: 95px;
    width: 100%;
    top: 0;
    position: sticky;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
  }
    
  .nav-bar {
    width: 50vw;
    display: inline-block;

    &__logo__light {
      height: 59.1px;
      width: 59.1px;
    }
  }

  .menu {
    display: none;
  }

  .navigation {
    height: 90px;
    width: 45vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    &__list {
      margin-top: 5px;
      padding-top: 0px;
      height: 80px;
      top: 0px;
      left: 0px;
      position: relative;
      z-index: 5;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      background-color: transparent;
    }  

    &__li {
      height: 90px;
      display: flex;

      & a {
        align-items: center;
        color: #572EE5;
      }
    }

    &__mas {
      display: flex;
      justify-content: center;
      text-decoration: none;
    }
    
    &__button {
      height: 54px;
      width: 54px;
      display: inline-block;
      border: 1px solid #572EE5;
      border-radius: 130px;
      font-size: 16px;
      color: #572EE5;
      background: #FFFFFF;

      &:hover {
        color: #FFFFFF;
        background: #572EE5;
      }

      &:active {
        border: #9CAFC3;
        color: #FFFFFF;
        background: #9CAFC3;
      }
    }
  }

  .header {

    &__title {
      height: 100px;
      width: 450px;
    }
  }

  .search {
    position: relative;

    &__picture {
      height: 190px;

      &__image {
        height: 190px;
        width: 399px;
      }
    }

    &__box {
      width: 551px;
      top: 19px;
      position: sticky;

      &__main {
        justify-content: space-between;
      }

      &__li:before {
        width: 91%;
      }

      &__input {
        margin-left: 62px;
        z-index: 3;
        background: transparent;
      }
    }

    &__p {
      height: 25px;
      width: 402px;
    }
  }

  .trending {
    height: 640px;

    &__title {
      margin: 67px auto 12px auto;
      padding: 0;
    }
    
    &__p {
      height: 21px;
      display: flex;
      align-self: center;
      
      &__span {
        margin-right: 5px;
      }
    }

    &__desktop-buttons {
      margin-top: 53px;
      padding: 0 20px;
      height: 275px;
      width: 100vw;
      align-items: center;
    }

    &__container {
      margin: auto 22px;
      height: 275px;
      width: 90vw;
      overflow-x: hidden;
    }

    &__slide {
      margin: 0;
      height: 275px;

      &:first-child {
        margin-left: 0;
      }
    
      &:last-child {
        margin-right: 0;
      }
    }

    &__card {
      height: 275px;
      width: 357px;
    }

    &__hover {
      height: 275px;
      width: 357px;
      
      &__user {
        top: 181px;
        height: 18px;
      }
  
      &__title {
        top: 205px;
        height: 19px;
        font-size: 16px;
      }
    }


    &__buttons {
      top: 10px;
      left: 220px;
    }

    &__button {
      margin-right: 10px;
      height: 32px;
      width: 32px;
    }

    &__options {
      font-size: 16.7px;
    }

    &__arrow {
      display: inline-block;
      
      &:hover {
        color:white;
        background: #572EE5;
      }
    }
  }

  .footer {
    margin: auto auto;
    height: 116px;
    flex-direction: row;
    justify-content: space-around;
    
    &__social-network {
      margin: auto 0;
      height: 20px;
      flex-direction: row;

      &__icons {
        margin-left: 17px;
      }

      &__p {
        margin: 0;
        height: 15px;
      }
    }
    
    &__p {
      margin: auto 0;
      height: 15px;
      display: flex;
    }
  }
}
