@import "fonts.scss";

.picture {
  height: 21px;
  width: 28px;
}

.img {
  height: inherit;
  width: inherit;
}

.t {
  margin: auto;
  font-size: 20px;
  line-height: 30px;
  @extend .montserrat-bold;
}

.favorites {
  &__group {
    padding-top: 7px;
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    display: none;
  }

  &__container {
    margin-top: 36px;
    height: max-content;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: left;
  }

  &__empty {
    display: none;
  }
}