@import "fonts.scss";

.favorites__group {
  padding-top: 7px;
}

.picture {
  height: 21px;
  width: 28px;
}

.img {
  height: inherit;
  width: inherit;
}

.title {
  margin: 0;
  @extend .montserrat-bold;
  font-size: 25px;
  line-height: 30px;
}

.favorites {
  &__group {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    display: none;
  }

  &__container {
    margin-top: 36px;
    height: fit-content;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-x: scroll;
  }

  &__empty {
    display: none;
  }
}