.menu {
  width: 14px;
  height: 14px;
  cursor: pointer;
}

.menu:after,
.menu:before,
.menu span {
  content: '';
  border-radius: 3px;
  display: block;
  height: 2px;
  margin: 3px 0;
  transition: all .4s ease-in-out;
  background: #572EE5;
 }

.checkbox:checked ~ .nav-bar > .menu:before {
  transform: translateY(5px) rotate(135deg); 
}

.checkbox:checked ~ .nav-bar > .menu:after {
  transform: translateY(-5px) rotate(-135deg); 
}

.checkbox:checked ~ .nav-bar > .menu span {
  transform: scale(0); 
}

.checkbox {
  display: none;
}

.checkbox:checked ~ .navigation > .navigation__list {
  left: 0;
}
