@import "fonts.scss";

.top-bar {
  padding: 34px 26px 0 22px;
  height: 100px;
  width: 100vw;
  box-sizing: border-box;
  border-top: 5px solid #572EE5;
}

.homepage {
  cursor: pointer;
}

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    height: 49px;
    width: 54px;
    box-sizing: border-box;

    &__dark {
      display: none;
    }
  }
}

.navigation {
  &__list {
    @extend .montserrat-bold;
    padding: 17px 0 0 0;
    height: 100vh;
    width: 100%;
    left: -150%;
    position: absolute;
    z-index: 5;
    display: inline-block;
    list-style: none;
    color: #FFFFFF;
    background: rgba(87,46,229,0.90);
    transition: left .5s ease-in-out;
  }
  
  &__li {
    padding: 1em;
    height: 60px;
    position: relative;
    text-align: center;
    cursor: pointer;
    
    &::after {
      width: 41px;
      left: 45%;
      bottom: 0;
      position: absolute;
      content: "";
      opacity: 0.5;
      border-bottom: 1px solid #FFFFFF;
    }
    
    &__dark {
      display: none;
    }

    & a {
      color: #FFFFFF;
      text-decoration: none;
        
      &:hover {
        letter-spacing: 0;
        text-decoration: underline;
        text-decoration-color: #5ED7C6;
        cursor: pointer;
      }
  
      &:active {
        color: #9CAFC3;
        text-decoration: none;
      }
    }
  }
  
  &__button {
    display: none;
    outline: none;
  }
}

.trending {
  margin-top: 45px;
  height: 430px;
  display: flex;
  flex-direction: column;
  background: #F3F5F8;

  &__title {
    margin: 44px auto 9px auto;
    padding-top: 44px;
    height: 30px;
    @extend .montserrat-bold;
    font-size: 20px;
    line-height: 30px;
  }
    
  &__p {
    margin: 0;
    height: 46px;
    @extend .roboto-regular;
    line-height: 23px;  
    text-align: center;
    
    &__span {
      display: block;
      @extend .roboto-regular;
      line-height: 23px;  
      text-align: center;
    }
  }

  &__card {
    margin-right: 263px;
    height: 187px;
    width: 243px;
  }

&__desktop-buttons {
  height: 187px;
  width: 100vw;
  display: flex;
  box-sizing: border-box;
}

&__arrow {
  padding-top: 5px;
  height: 40px;
  width: 40px;
  display: none;
  text-align: center;
  vertical-align: middle;
  color: #572EE5;
  border: 1px solid #572EE5;
}
}

.container {
  margin-top: 32px;
  height: 187px;
  width: 100vw;
  display: inline-flex;
  overflow-x: scroll;
  overflow-y: none;
}

.footer {
  height: 201px;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
  border-bottom: 5px solid #572EE5;

  &__social-network {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    color: #000000;
    letter-spacing: 0;
    
    &__icons {
      margin-bottom: 46px;
      justify-content: space-around;
    }
        
    &__icon {
      margin-right: 19px;
      height: min-content;
      width: min-content;
      font-size: 20px;
      text-decoration: none;
      color: rgb(195,204, 216);

      &:nth-child(3) {
        margin-right: 0;
      }
      
      & i:hover {
        color: #572EE5;
      }
    }
  
    &__p {
      margin: 47px auto 22px auto;
    }
  }

  &__p {
    margin: 0 auto 23px auto;
    font-size: 14px;
    color: #000000;
    letter-spacing: 0;
    line-height: 20px;
  }
}