a, button, i {
  cursor: pointer; }

.montserrat-medium {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #572EE5;
  line-height: 25px;
  text-align: center; }

.montserrat-bold, .navigation__list, .trending__t {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #572EE5;
  line-height: 60px;
  text-align: center; }

.roboto-bold {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center; }

.roboto-regular, .trending__p, .trending__p__span {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: #000000; }

.top-bar {
  padding: 34px 26px 0 22px;
  height: 100px;
  width: 100vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 5px solid #572EE5; }

.nav-bar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .nav-bar__logo {
    height: 49px;
    width: 54px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    cursor: pointer; }

.navigation__list {
  padding: 17px 0 0 0;
  height: 100vh;
  width: 100%;
  left: -150%;
  position: absolute;
  z-index: 6;
  display: inline-block;
  list-style: none;
  color: #FFFFFF;
  background: rgba(87, 46, 229, 0.9);
  -webkit-transition: left .5s ease-in-out;
  transition: left .5s ease-in-out; }
.navigation__li {
  padding: 1em;
  height: 60px;
  position: relative;
  text-align: center; }
  .navigation__li::after {
    width: 41px;
    left: 45%;
    bottom: 0;
    position: absolute;
    content: "";
    opacity: 0.5;
    border-bottom: 1px solid #FFFFFF; }
  .navigation__li__dark {
    display: none; }
  .navigation__li a {
    color: #FFFFFF;
    text-decoration: none; }
    .navigation__li a:hover {
      letter-spacing: 0;
      text-decoration: underline;
      -webkit-text-decoration-color: #5ED7C6;
              text-decoration-color: #5ED7C6;
      cursor: pointer; }
    .navigation__li a:active {
      color: #9CAFC3;
      text-decoration: none; }
.navigation__button {
  display: none;
  outline: none; }

#trendingContainer {
  margin-left: 22px; }

.trending {
  margin-top: 45px;
  height: 430px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #F3F5F8; }
  .trending__t {
    margin: 44px auto 9px auto;
    height: 30px;
    font-size: 20px;
    line-height: 30px; }
  .trending__p {
    margin: 0;
    height: 46px;
    line-height: 23px;
    text-align: center; }
    .trending__p__span {
      display: block;
      line-height: 23px;
      text-align: center; }
  .trending__card {
    margin-right: 263px;
    height: 187px;
    width: 243px; }
  .trending__desktop-buttons {
    height: 187px;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .trending__arrow {
    padding-top: 5px;
    height: 40px;
    width: 40px;
    display: none;
    text-align: center;
    vertical-align: middle;
    color: #572EE5;
    border: 1px solid #572EE5; }

.container {
  margin-top: 32px;
  height: 187px;
  width: 100vw;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow-x: scroll;
  overflow-y: none; }

.footer {
  height: 201px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 5px solid #572EE5; }
  .footer__social-network {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 15px;
    color: #000000;
    letter-spacing: 0; }
    .footer__social-network__icons {
      margin-bottom: 46px;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
    .footer__social-network__icon {
      margin-right: 19px;
      height: -webkit-min-content;
      height: -moz-min-content;
      height: min-content;
      width: -webkit-min-content;
      width: -moz-min-content;
      width: min-content;
      font-size: 20px;
      text-decoration: none;
      color: #c3ccd8; }
      .footer__social-network__icon:nth-child(3) {
        margin-right: 0; }
      .footer__social-network__icon i:hover {
        color: #572EE5; }
    .footer__social-network__p {
      margin: 47px auto 22px auto; }
  .footer__p {
    margin: 0 auto 23px auto;
    font-size: 14px;
    color: #000000;
    letter-spacing: 0;
    line-height: 20px; }

/*# sourceMappingURL=main.css.map */