.montserrat-medium {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #572EE5;
    line-height: 25px;
    text-align: center;
}

.montserrat-bold {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #572EE5;
    line-height: 60px;
    text-align: center;
}

.roboto-regular {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: left;
    color: #000000;
}

.top-bar {
    padding: 34px 26px 0 22px;
    height: 100px;
    width: 100vw;
    box-sizing: border-box;
    border-top: 5px solid #572EE5;
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        height: 49px;
        width: 54px;
        box-sizing: border-box;

        &__dark {
            display: none;
        }
    }
}

.navigation {
    &__list {
        @extend .montserrat-bold;
        padding: 17px 0 0 0;
        height: 100vh;
        width: 100%;
        left: -150%;
        position: absolute;
        display: inline-block;
        list-style: none;
        color: #FFFFFF;
        background: rgba(87,46,229,0.90);
        transition: left .5s ease-in-out;
    }
        
    &__li {
        padding: 1em;
        height: 60px;
        position: relative;
        text-align: center;

        &::after {
            width: 41px;
            left: 45%;
            bottom: 0;
            position: absolute;
            content: "";
            opacity: 0.5;
            border-bottom: 1px solid #FFFFFF;
        }
    }

    & a {
        color: #FFFFFF;
        text-decoration: none;
        
        &:hover {
            letter-spacing: 0;
            text-decoration: underline;
            text-decoration-color: #5ED7C6;
        }

        &:active {
            color: #9CAFC3;
            text-decoration: none;
        }
    }
}

.header {
    margin: 7px auto 31px auto;
    display: flex;
    justify-content: center;

    &__title {
        margin: 0;
        height: 99px;
        width: 286px;
        @extend .montserrat-bold;
        font-size: 25px;
        line-height: 33px;
        
        & span {
            @extend .montserrat-bold;
            font-size: 25px;
            line-height: 33px;
            color: rgb(70, 224, 182);
        }
    }
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &__picture {
    text-align: center;
    height: 130px;
    
        &__image {
            height: 130px;
            width: 273px;
        }
    }
    
    &__form {
        margin: 0 0;
        height: 50px;
        width: 334px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        box-sizing: border-box;
        border: 1px solid #572EE5;
        border-radius: 27px;
        background: #FFFFFF;
        
        &__input {
            margin-left: 23px;
            height: 22px;
            width: auto;
            border: 0;
            @extend .roboto-regular;
            text-align: left;
        }
        
        &__datalist {
            @extend .roboto-regular;
            border: 0;
            text-align: left;
            background: #FFFFFF;
        }
    }

    &__title{
        margin: 31px auto 2px auto;
        @extend .montserrat-bold;
        font-size: 16px;
        line-height: 25px;
    }
    
    &__p {
        margin: 0;
        width: 225px;
        @extend .montserrat-medium;
    }
}

.results {
    
    &__container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 21px;
    }

    &__title {
        height: 83px;
        @extend .montserrat-bold;
        font-size: 25px;
        line-height: 40px;
        text-align: bottom;

        &::before {
            width: 157px;
            left: 45%;
            top: 0;
            position: absolute;
            content: "";
            opacity: 0.5;
            border: 1px solid #9CAFC3;
        }
    }
}
    
    /*  
    
    &__button {
            height: 50px;
            width: 127px;
            @extend .montserrat-bold;
            font-size: 13px;
            letter-spacing: 0;
            background-color: #fff;
            border: 1px solid #572EE5;
            border-radius: 25px;
            border-radius: 25px;
        }
    }

    &__carousel {
        margin-top: 46px;
        height: 430px;
        background: #F3F5F8;

        &__title {
            margin: 44px auto 9px auto;
            padding-top: 44px;
            font-size: 25px;
            line-height: 30px;
        }

        &__p {
            margin: 9px auto auto auto;
            height: 46px;
            font-size: 16px;
            color: #000000;
            line-height: 23px;
            
            &__span {
                display: block;
            }
        }
        
        &__card {
            margin: 32px 22px 82px auto;
            height: 187px;
            width: 243px;
            display: inline-flex;
        }
    }

.footer {
    height: 201px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
    border-bottom: 5px solid #572EE5;

    &__social-network {
        display: flex;
        flex-direction: column;
        font-size: 15px;
        color: #000000;
        letter-spacing: 0;
        
        &__icons {
            margin-bottom: 46px;
            justify-content: space-around;
            
            & a {
                margin-right: 19px;
                height: min-content;
                width: min-content;
                text-decoration: none;

                &:nth-child(3) {
                    margin-right: 0;
                }
                
                & svg > path:hover {
                    fill: #572EE5;
                }
            }
            
        }
        
        &__p {
            margin: 47px auto 22px auto;
        }
    }

    &__p {
        margin: 0 auto 23px auto;
        font-size: 14px;
        color: #000000;
        letter-spacing: 0;
        line-height: 20px;
    }
}
.icon-in-to-input {
    height: 0;
    width: 0;
    fill: gray;
}

.carousel {
    margin:auto;
    max-width: 1000px;
    position:relative;
    box-sizing: border-box;

    &__card {
        display: none;
    }

    &__prev {
        left:0;
        border-radius:3px 0 0 3px;
    }

    &__next {
        right:0;
        border-radius:3px 0 0 3px;
    }

    &__prev, .carousel__next {
        margin-top:-22px;
        padding:16px;
        top:50%;
        height: 40px;
        width:40px;
        position:absolute;
        color:white;
        font-weight:bold;
        font-size:18px;
        border: 1px solid #572EE5;
        transition:0.6s ease;
        cursor:pointer;
    }
}*/