.montserrat-medium {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #572EE5;
  line-height: 25px;
  text-align: center;
}

.montserrat-bold {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #572EE5;
  line-height: 60px;
  text-align: center;
}

.roboto-regular {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-align: left;
  color: #000000;
}

.top-bar {
  padding: 34px 26px 0 22px;
  height: 100px;
  width: 100vw;
  box-sizing: border-box;
  border-top: 5px solid #572EE5;
}

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    height: 49px;
    width: 54px;
    box-sizing: border-box;

    &__dark {
      display: none;
    }
  }
}

.navigation {
  &__list {
    @extend .montserrat-bold;
    padding: 17px 0 0 0;
    height: 100vh;
    width: 100%;
    left: -150%;
    position: absolute;
    z-index: 5;
    display: inline-block;
    list-style: none;
    color: #FFFFFF;
    background: rgba(87,46,229,0.90);
    transition: left .5s ease-in-out;

  }
  
  &__li {
    padding: 1em;
    height: 60px;
    position: relative;
    text-align: center;
    
    &::after {
      width: 41px;
      left: 45%;
      bottom: 0;
      position: absolute;
      content: "";
      opacity: 0.5;
      border-bottom: 1px solid #FFFFFF;
    }
    
    &__dark {
      display: none;
    }

    & a {
      color: #FFFFFF;
      text-decoration: none;
        
      &:hover {
        letter-spacing: 0;
        text-decoration: underline;
        text-decoration-color: #5ED7C6;
      }
  
      &:active {
        color: #9CAFC3;
        text-decoration: none;
      }
    }
  }
  
  &__button {
    display: none;
  }
}

.header {
  margin: 7px auto 31px auto;
  display: flex;
  justify-content: center;

  &__title {
    margin: 0;
    height: 99px;
    width: 286px;
    @extend .montserrat-bold;
    font-size: 25px;
    line-height: 33px;
      
    & span {
      @extend .montserrat-bold;
      font-size: 25px;
      line-height: 33px;
      color: rgb(70, 224, 182);
    }
  }
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  &__picture {
  text-align: center;
  height: 130px;
  
    &__image {
      height: 130px;
      width: 273px;
    }
  }
  
  &__box {
    margin: 0;
    min-height: 50px;
    width: 334px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: 1px solid #572EE5;
    border-radius: 27px;
    z-index: 10;
    
    &__main {
      margin: 14px 0 10px 0;
      position: relative;
      display: flex;
      justify-content: space-evenly;
    }
    
    &__icon {
      margin-right: 15px;
      text-align: center;
      vertical-align: middle;
      font-size: 20px;
      color: #572ee5;
      
      &-list {
        margin: 0px;
        left: 32px;
        position: absolute;
        visibility: hidden;
        font-size: 20px;
        color: rgb(152, 170, 190);
      }
    }

    &__input {
      margin: auto 0 0 44px;
      height: 22px;
      width: 210px;
      border: 0;
      outline: #572EE5;
      @extend .roboto-regular;
      text-align: left;

      &::-webkit-calendar-picker-indicator {
        display: none;
      }
    }

    &__x {
      margin-right: 15px;
      padding-top: 3px;
      height: 14px;
      width: 14px;
      display: none;
      color: #572EE5;
    }
    
    &__list {
      margin: 0;
      position: relative;
      z-index: 4;
      background: transparent;
      list-style: none;
    }
      
    &__li {
      margin-left: 18px;
      padding: 5px;
      @extend .roboto-regular;
      cursor: pointer;
      list-style-image: url(/assets/icon-search.svg);
      
      &::before {
        height: 3px;
        width: 274px;
        top: 0;
        left: 32px;
        position: absolute;
        content: "";
        opacity: 0.5;
        border-top: 1px solid #9CAFC3;
      }

      &::after {
        margin-right: 14.6px;
        height: 10px;
        width: 10px;
      }

      &:nth-child(1) {
        padding-top: 14px;
      }

      &:last-child {
        padding-bottom: 15px;
      }
    }
  }

  &__title{
    margin: 31px auto 2px auto;
    @extend .montserrat-bold;
    font-size: 16px;
    line-height: 25px;
  }
    
  &__p {
    margin: 0;
    width: 225px;
    @extend .montserrat-medium;
    text-transform: capitalize;
  }  
}

.results {
  &__container {
    margin: 35px auto 0 auto;
    padding-top: 43px;
    width: 100vw;
    position: relative;
    display: none;
    flex-direction: column;

    &::before {
      width: 157px;
      top: 0;
      position: absolute;
      content: "";
      opacity: 0.5;
      border-top: 1px solid #9CAFC3;
      align-self: center;
    }
  }

  &__title {
    margin: 0;
    height: 40px;
    @extend .montserrat-bold;
    font-size: 25px;
    line-height: 40px;
  }

  &__cards {
    margin: 13px auto 78px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
    
  &__card {
    margin-top: 25px;
    height: 120px;
    width: 156px;
    position: relative;
  }

  &__button {
    margin: 0 auto 34px auto;
    height: 50px;
    width: 127px;
    border: 1px solid #572EE5;
    border-radius: 25px;
    border-radius: 25px;
    @extend .montserrat-bold;
    font-size: 13px;
    font-weight: bold;
    line-height: unset;
    letter-spacing: 0;

    &:hover {
      color: #FFFFFF;
      letter-spacing: 0;
      border-radius: 25px;
      background: #572EE5;
    }
  }
}
    
.trending {
  margin-top: 45px;
  height: 430px;
  background: #F3F5F8;
    
  &__title {
    margin: 44px auto 9px auto;
    padding-top: 44px;
    height: 30px;
    @extend .montserrat-bold;
    font-size: 20px;
    line-height: 30px;
  }
    
  &__p {
    margin: 0;
    height: 46px;
    @extend .roboto-regular;
    line-height: 23px;  
    text-align: center;
    
    &__span {
      display: block;
      @extend .roboto-regular;
      line-height: 23px;  
      text-align: center;
    }
  }
   
  &__slide {
    display: flex;
    position: sticky;
    overflow-x: scroll;
  }

  &__hover {
    margin: 32px 11px 82px 11px;
    height: 187px;
    width: 243px;
    background: #572EE5;
    //visibility: hidden;
  }

  &__card {
    margin: 0;
    height: 187px;
    width: 243px;
    position: relative;
    display: inline-block;
    opacity: 0.6;
    cursor: pointer;

    &__user {
      @extend .roboto-regular;
      font-size: 15px;
      color: #FFFFFF;
      text-align: center;
      text-transform: capitalize;
      //visibility: hidden;
    }
  
    &__title {
      @extend .roboto-regular;
      font-size: 15px;
      color: #FFFFFF;
      text-align: center;
      text-transform: capitalize;
      //visibility: hidden;
    }
  }

  &__buttons {
    top: 37px;
    left: 160px;
    position: absolute;
    display: inline-block;
    opacity: 0.7;
    cursor: pointer;
  }
  
  &__button {
    padding: 0;
    height: 25px;
    width: 25px;
    z-index: 4;
    border: 0;
    border-radius: 6px;
    outline: none;
    text-align: center;
    background: #FFFFFF;
    cursor: pointer;
  }

  &__options {
    font-size: 12px;
    opacity: 0.7;
    background: #FFFFFF;
    border-radius: 6px;
    //visibility: hidden;
  }
}

.footer {
  height: 201px;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
  border-bottom: 5px solid #572EE5;

  &__social-network {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    color: #000000;
    letter-spacing: 0;
    
    &__icons {
      margin-bottom: 46px;
      justify-content: space-around;
    }
        
    &__icon {
      margin-right: 19px;
      height: min-content;
      width: min-content;
      font-size: 20px;
      text-decoration: none;
      color: rgb(195,204, 216);

      &:nth-child(3) {
        margin-right: 0;
      }
      
      & i:hover {
        color: #572EE5;
      }
    }
  
    &__p {
      margin: 47px auto 22px auto;
    }
  }

  &__p {
    margin: 0 auto 23px auto;
    font-size: 14px;
    color: #000000;
    letter-spacing: 0;
    line-height: 20px;
  }
}