.montserrat-medium, .search__p {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #572EE5;
  line-height: 25px;
  text-align: center; }

.montserrat-bold, .navigation__list, .header__title, .header__title span, .search__title, .results__title, .results__button {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #572EE5;
  line-height: 60px;
  text-align: center; }

.roboto-regular, .search__form__input, .search__form__datalist {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-align: left;
  color: #000000; }

.top-bar {
  padding: 34px 26px 0 22px;
  height: 100px;
  width: 100vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 5px solid #572EE5; }

.nav-bar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .nav-bar__logo {
    height: 49px;
    width: 54px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .nav-bar__logo__dark {
      display: none; }

.navigation__list {
  padding: 17px 0 0 0;
  height: 100vh;
  width: 100%;
  left: -150%;
  position: absolute;
  display: inline-block;
  list-style: none;
  color: #FFFFFF;
  background: rgba(87, 46, 229, 0.9);
  -webkit-transition: left .5s ease-in-out;
  transition: left .5s ease-in-out; }
.navigation__li {
  padding: 1em;
  height: 60px;
  position: relative;
  text-align: center; }
  .navigation__li::after {
    width: 41px;
    left: 45%;
    bottom: 0;
    position: absolute;
    content: "";
    opacity: 0.5;
    border-bottom: 1px solid #FFFFFF; }
.navigation a {
  color: #FFFFFF;
  text-decoration: none; }
  .navigation a:hover {
    letter-spacing: 0;
    text-decoration: underline;
    -webkit-text-decoration-color: #5ED7C6;
            text-decoration-color: #5ED7C6; }
  .navigation a:active {
    color: #9CAFC3;
    text-decoration: none; }

.header {
  margin: 7px auto 31px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .header__title {
    margin: 0;
    height: 99px;
    width: 286px;
    font-size: 25px;
    line-height: 33px; }
    .header__title span {
      font-size: 25px;
      line-height: 33px;
      color: #46e0b6; }

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .search__picture {
    text-align: center;
    height: 130px; }
    .search__picture__image {
      height: 130px;
      width: 273px; }
  .search__form {
    margin: 0 0;
    height: 50px;
    width: 334px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid #572EE5;
    border-radius: 27px;
    background: #FFFFFF; }
    .search__form__input {
      margin-left: 23px;
      height: 22px;
      width: auto;
      border: 0;
      text-align: left; }
    .search__form__datalist {
      border: 0;
      text-align: left;
      background: #FFFFFF; }
  .search__title {
    margin: 31px auto 2px auto;
    font-size: 16px;
    line-height: 25px; }
  .search__p {
    margin: 0;
    width: 225px; }

.results {
  margin-bottom: 79px; }
  .results__container {
    margin-top: 35px;
    padding-top: 43px;
    width: 100vw;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .results__container::before {
      width: 157px;
      top: 0;
      position: absolute;
      content: "";
      opacity: 0.5;
      border-top: 1px solid #9CAFC3;
      -ms-flex-item-align: center;
          align-self: center; }
  .results__title {
    margin: 0;
    height: 40px;
    font-size: 25px;
    line-height: 40px; }
  .results__cards {
    margin: 38px auto 78px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .results__card {
    margin: 12.5px 10.5px;
    height: 120px;
    width: 156px; }
  .results__button {
    margin: 0 auto;
    height: 50px;
    width: 127px;
    border: 1px solid #572EE5;
    border-radius: 25px;
    border-radius: 25px;
    font-size: 13px;
    font-weight: bold;
    line-height: unset;
    letter-spacing: 0; }

    /*  
    
    &__button {
            height: 50px;
            width: 127px;
            @extend .montserrat-bold;
            font-size: 13px;
            letter-spacing: 0;
            background-color: #fff;
            border: 1px solid #572EE5;
            border-radius: 25px;
            border-radius: 25px;
        }
    }

    &__carousel {
        margin-top: 46px;
        height: 430px;
        background: #F3F5F8;

        &__title {
            margin: 44px auto 9px auto;
            padding-top: 44px;
            font-size: 25px;
            line-height: 30px;
        }

        &__p {
            margin: 9px auto auto auto;
            height: 46px;
            font-size: 16px;
            color: #000000;
            line-height: 23px;
            
            &__span {
                display: block;
            }
        }
        
        &__card {
            margin: 32px 22px 82px auto;
            height: 187px;
            width: 243px;
            display: inline-flex;
        }
    }

.footer {
    height: 201px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
    border-bottom: 5px solid #572EE5;

    &__social-network {
        display: flex;
        flex-direction: column;
        font-size: 15px;
        color: #000000;
        letter-spacing: 0;
        
        &__icons {
            margin-bottom: 46px;
            justify-content: space-around;
            
            & a {
                margin-right: 19px;
                height: min-content;
                width: min-content;
                text-decoration: none;

                &:nth-child(3) {
                    margin-right: 0;
                }
                
                & svg > path:hover {
                    fill: #572EE5;
                }
            }
            
        }
        
        &__p {
            margin: 47px auto 22px auto;
        }
    }

    &__p {
        margin: 0 auto 23px auto;
        font-size: 14px;
        color: #000000;
        letter-spacing: 0;
        line-height: 20px;
    }
}
.icon-in-to-input {
    height: 0;
    width: 0;
    fill: gray;
}

.carousel {
    margin:auto;
    max-width: 1000px;
    position:relative;
    box-sizing: border-box;

    &__card {
        display: none;
    }

    &__prev {
        left:0;
        border-radius:3px 0 0 3px;
    }

    &__next {
        right:0;
        border-radius:3px 0 0 3px;
    }

    &__prev, .carousel__next {
        margin-top:-22px;
        padding:16px;
        top:50%;
        height: 40px;
        width:40px;
        position:absolute;
        color:white;
        font-weight:bold;
        font-size:18px;
        border: 1px solid #572EE5;
        transition:0.6s ease;
        cursor:pointer;
    }
}*/

/*# sourceMappingURL=style.css.map */