$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-socialNetworkicon_facebook: "\e901";
$icon-socialNetworkicono-twitter: "\e900";
$icon-socialNetworkicon_instagram: "\e902";

